altgraph==0.17
auto-py-to-exe==2.7.11
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
crypto==1.4.1
Cryptodome==1.0
cryptography==3.3.1
Eel==0.12.4
flake8==3.8.4
future==0.18.2
gevent==21.1.1
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
importlib-metadata==3.4.0
mccabe==0.6.1
Naked==0.1.31
pefile==2019.4.18
py2exe==0.10.2.0
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.9
pycryptodomex==3.9.9
pyflakes==2.2.0
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2020.11
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
selenium==3.141.0
shellescape==3.8.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
whichcraft==0.6.1
win32core==221.36
win32gui==221.6
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
